#main-body{
	margin-left: 10%;
	width: 80%;
	height: auto;
	background-color: rgb(161, 186, 230);
}
#header{
	margin-left: 20px;
	margin-right: 20px;
	border-bottom-style: solid;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
#list{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#footer{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	border-top-style: solid;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}
#alert-td{ 
	width: 60%;
	text-align: center;
}
#alert{
	background-color: rgb(228, 170, 24);
}

.label{
	width: 7%;
}
.right-border-button{
	margin-left: 10px;
}
.product-info{
	margin-top: 15px;
	margin-bottom: 15px;
	min-width: 200px;
	max-width: 200px;
	border-style: solid;
}
.product-info > input.delete-checkbox{
	text-align: left;
}
.product-info > p{
	text-align: center;
}
.fake-checkbox{
	display: none;
}

body{
	background-image: url("img/backgroung.jpg");
}
button {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 130px;
	height: 40px;
	cursor: pointer;
	color: black;
	background-color: #4CAF50;
	border: none;
	box-shadow: 0 7px rgb(71, 67, 67);
}
  
button:hover {background-color: #3e8e41}
  
button:active {
	background-color: #3e8e41;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}